/* slide titles */
.reveal h3 { 
  font-size: 30px;
  color: blue;
}

/* ordered and unordered list styles */
.reveal ul, 
.reveal ol {
    font-size: 20px;
    color: black;
    list-style-type: square;
}